:root {
    --primary-color: #35424a; /* Un azul grisáceo profundo */
    --secondary-color: #2ecc71; /* Un verde claro vibrante para acentos */
    --background-color: #eaebed; /* Un gris claro para el fondo, más suave para los ojos */
    --text-color: #333333; /* Un gris oscuro para el texto principal para mejorar la legibilidad */
    --border-radius: 8px; /* Redondeado para botones y campos de entrada */
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para elevar elementos */
    --transition-speed: 0.3s; /* Velocidad uniforme para las transiciones */
    --font-size-small: 14px; /* Tamaño de fuente pequeño para textos generales */
    --font-size-smaller: 12px; /* Tamaño de fuente aún más pequeño para detalles */
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    font-size: var(--font-size-small);
    padding-top: 70px; /* espacio para la barra de navegación */
    line-height: 1.6; /* Más espacio entre líneas para mejor legibilidad */
}

.header .navbar {
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
    font-size: var(--font-size-small);
}

.formatDiv {
    width: auto;
    max-width: 300px; /* Ajusta esto según el ancho deseado */
    margin: 2em auto;
    padding: 2em;
    background-color: var(--light);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    font-size: var(--font-size-small);
}

.divAnuncio, .formatDiv {
    background-color: #fff;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 20px;
    margin-bottom: 20px;
    font-size: var(--font-size-smaller); /* Tamaño de fuente reducido para anuncios */
}

button, .btn {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 10px 20px;
    border: 0;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transition: background-color var(--transition-speed);
    font-size: var(--font-size-small);
}

button:hover, .btn:hover {
    background-color: darken(var(--secondary-color), 10%);
    cursor: pointer;
}

input[type="text"], input[type="email"], input[type="password"], input[type="file"], textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: var(--border-radius);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: var(--font-size-small);
}

/* Estilo específico para mejorar los file inputs */
input[type="file"] {
    padding: 10px 0;
    font-size: var(--font-size-small);
}

@media (max-width: 768px) {
    .header .navbar {
        padding: 0.5em;
    }

    .formatDiv, .divAnuncio {
        width: 50%;
        margin: 0.5em;
        box-shadow: none;
        font-size: var(--font-size-small);
    }

    button, .btn {
        padding: 0.5em 1em;
        font-size: var(--font-size-small);
    }
}
.imgBlock {
    height: auto; /* Esto asegura que la altura se ajuste automáticamente manteniendo la proporción de la imagen */
    width: 500px; /* Cambia este valor al ancho deseado */
    margin: 0 auto; /* Esto centra la imagen horizontalmente si el bloque es más ancho que la imagen */
    display: block; /* Esto asegura que la imagen no tenga elementos en línea a los lados */
}
